.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #4E73DF;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

.sidebar a:hover {
  color: white;
  text-decoration: none;
}


div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}
