.mainContainer{
  position:relative;
}
.mainContainer img{
  width:100%;
  height:760px;
}
.content{
  position:absolute;
  top:35%;
  left:50px;
  background-color:rgba(0,0,0,0.6);
  padding:30px;
  border-radius:15px;
  box-shadow:8px 8px 10px black;
}
.content h1{
  color:white;
  margin-bottom:30px;
}
